## Testing Search Problem Algorithm
In this notebook, we will test for different scenarios using the custom defined classes and solver algorithm in `search_problem.py`.
We will set up the search problem varying the fiollowing parameters:
* n_runway
* max_delay
* duration of disruption (by chaning the paramter `resume_hour` and/or `resume_min`)
* Number of flights to consider (by changing the df passed into the `search_pronble` class)

By default, the `resschedule_problem` class defines the problem with the following parameters:
* n_runway = 1
* disruption_dur = 60 (in minutes)
* duration of time slot = 5 (in minutes)
* Maximum delay permissible before a flight has to be diverted = 120

In [1]:
# import the packages
import pandas as pd 
from search_problem import *

/Users/Tra_FIT/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [15]:
df = pd.read_csv("./data/21DEC2023_AMS_processed.csv", parse_dates = ['time_sch','time_act'])
df = df.sort_values("time_sch").reset_index(drop = True)
df.head()

,time_sch,time_act,code,dest,stat,orig,pass_load,time_diff
0,2023-12-21 00:10:00,2023-12-21 01:19:00,HV 6888 Transavia,Amsterdam,BAGGAGE HANDLED,Reykjavik (KEF),383,4140.0
1,2023-12-21 00:25:00,2023-12-21 00:25:00,HV 5336 Transavia,Amsterdam,BAGGAGE HANDLED,Sharm El Sheikh (SSH),364,0.0
2,2023-12-21 01:00:00,2023-12-21 01:00:00,HV 6676 Transavia,Amsterdam,BAGGAGE HANDLED,Tenerife (TFS),319,0.0
3,2023-12-21 05:45:00,2023-12-21 05:45:00,KL 590 KLM,Amsterdam,BAGGAGE HANDLED,Accra (ACC),238,0.0
4,2023-12-21 05:50:00,2023-12-21 06:44:00,KL 810 KLM,Amsterdam,BAGGAGE HANDLED,Jakarta (CGK),327,3240.0

## Test 1
In this first case, we will consider:
* a dataframe of size 20
* n_runway = 2
* duration of disruption = 60

We set up the problem using the `reschedule_problem` class which defines the path cost as the time delayed of the flight scheduled at the child node.

In [16]:
# subset the tail of the dataframe
df_subset = df.tail(20).reset_index(drop = True)
df_subset.head()

,time_sch,time_act,code,dest,stat,orig,pass_load,time_diff
0,2023-12-21 22:30:00,2023-12-21 22:30:00,OR 3802 TUI fly,Amsterdam,BAGGAGE HANDLED,Tenerife (TFS),236,0.0
1,2023-12-21 22:35:00,2023-12-21 22:35:00,LH 2310 Lufthansa,Amsterdam,CANCELLED,Munich (MUC),339,0.0
2,2023-12-21 22:35:00,2023-12-21 23:37:00,KL 1032 KLM,Amsterdam,BAGGAGE HANDLED,London Heathrow (LHR),344,3720.0
3,2023-12-21 22:40:00,2023-12-22 01:10:00,AZ 118 ITA Airways,Amsterdam,BAGGAGE ON BELT,Milan Linate (LIN),346,-77400.0
4,2023-12-21 23:00:00,2023-12-21 23:00:00,KL 1706 KLM,Amsterdam,CANCELLED,Madrid (MAD),316,0.0

### Uniform Cost Seach 
We use the uniform-cost search algorithm to solve the problem.

In [17]:
# instantiate the problem
AMS21_n20_1 = reschedule_problem(df_subset, n_runway = 2)
# solve the problem
AMS21_n20_1.solve(best_first_graph_search)
AMS21_n20_1.display()

The airport resumed service at 23:30

,code,time_sch,pass_load,time_new,util,time_dff
0,OR 3802 TUI fly,2023-12-21 22:30:00,236,2023-12-21 23:30:00,-60.0,60.0
1,LH 2310 Lufthansa,2023-12-21 22:35:00,339,2023-12-21 23:35:00,-60.0,60.0
2,KL 1032 KLM,2023-12-21 22:35:00,344,2023-12-21 23:30:00,-55.0,55.0
3,AZ 118 ITA Airways,2023-12-21 22:40:00,346,2023-12-21 23:35:00,-55.0,55.0
4,KL 1706 KLM,2023-12-21 23:00:00,316,2023-12-21 23:45:00,-45.0,45.0
5,KL 980 KLM,2023-12-21 23:00:00,186,2023-12-21 23:45:00,-45.0,45.0
6,KL 1118 KLM,2023-12-21 23:00:00,263,2023-12-21 23:40:00,-40.0,40.0
7,KL 1434 KLM,2023-12-21 23:00:00,343,2023-12-21 23:40:00,-40.0,40.0
8,KL 1136 KLM,2023-12-21 23:05:00,263,2023-12-21 23:50:00,-45.0,45.0
9,HV 5136 Transavia,2023-12-21 23:15:00,339,2023-12-21 23:55:00,-40.0,40.0
10,HV 6886 Transavia,2023-12-21 23:15:00,386,2023-12-21 23:50:00,-35.0,35.0
11,KL 1082 KLM,2023-12-21 23:20:00,375,2023-12-22 00:00:00,-40.0,40.0
12,HV 5358 Transavia,2023-12-21 23:20:00,239,2023-12-22 00:00:00,-40.0,40.0
13,KL 1834 KLM,2023-12-21 23:20:00,319,2023-12-21 23:55:00,-35.0,35.0
14,HV 6114 Transavia,2023-12-21 23:25:00,300,2023-12-22 00:05:00,-40.0,40.0
15,KL 1608 KLM,2023-12-21 23:25:00,309,2023-12-22 00:05:00,-40.0,40.0
16,HV 5806 Transavia,2023-12-21 23:30:00,310,2023-12-22 00:10:00,-40.0,40.0
17,HV 6902 Transavia,2023-12-21 23:40:00,316,2023-12-22 00:10:00,-30.0,30.0
18,HV 5666 Transavia,2023-12-21 23:50:00,347,2023-12-22 00:15:00,-25.0,25.0
19,HV 5218 Transavia,2023-12-21 23:55:00,304,2023-12-22 00:15:00,-20.0,20.0

### Breadth-First Search
Here we use the breadth first tree search, assuming that the path cost is the depth of the node.
We can see from this particularly case, there is a significant increase of the runtime.

In [19]:
# instantiate the problem
AMS21_n20_2 = reschedule_problem(df_subset, n_runway = 2)
# solve the problem
AMS21_n20_2.solve(breadth_first_search)
AMS21_n20_2.display()

The airport resumed service at 23:30

KeyboardInterrupt:

## Heuristic Search

To do list
* update the breadth-first-search algorithm
    -> update the way it returns the solution
    -> add printing instruction to see where the algorithm is at ratehr than in infinite loop
* Consider the case for heuristic tree search